/.idea/
/resources/coverage/
/resources/phpdoc/
/vendor/
/bin/behat
/bin/composer
/bin/phpdoc
/bin/phpunit
/composer-setup.php
/composer.lock
/bin/phpstan
/bin/phpunit.phar
/bin/phing
/bin/cc-test-reporter
