/config             export-ignore
/docs               export-ignore
/resources          export-ignore
/tests              export-ignore
/.codeclimate.yml   export-ignore
/.editorconfig      export-ignore
/.gitattributes     export-ignore
/.gitignore         export-ignore
/.idea              export-ignore
/build.xml          export-ignore
/mkdocs.yml         export-ignore
/psalm.xml          export-ignore
/README.md          export-ignore
