/.idea/
!/.idea/dictionaries/
/resources/coverage/
/resources/phpdoc/
/vendor/
/bin/behat
/bin/composer
/bin/phpdoc
/bin/phpunit
/composer-setup.php
/composer.lock
/bin/phpstan
/bin/phpunit.phar
/bin/phing
/bin/cc-test-reporter
/coverage/codeclimate.json
/bin/phpDocumentor
/bin/phploc
/resources/phploc.txt
/resources/coverage-html/
/bin/phpcs
/site/
/docs/CONTRIBUTING.md
/docs/index.md
/docs/LICENSE.md
/docs/license.md
/docs/contributing.md
/docs/changelog.md
/docs/images/uml-split.png
/docs/images/uml-case-converter.png
/docs/images/build.png
/docs/images/detection-algorithm.png
/docs/images/number-problem.png
/docs/images/uml-glue.png
